@use '@fem-rsc/tokens/dist/scss/mixins' as *;
@use '@fem-rsc/tokens/dist/scss/tokens' as *;

.button {
  cursor: pointer;
  border-radius: $fem-radius-300;
  padding: $fem-offset-600 $fem-offset-500 $fem-offset-500;
  width: 100%;

  &__primary {
    color: var(--fem-color-text-button-primary-rest);
    box-shadow: inset 0 0 0 $fem-offset-100
      var(--fem-color-border-button-primary-rest);
    background: var(--fem-color-background-button-primary-rest);

    @extend %fem-text-button-primary;

    &:focus {
      box-shadow: inset 0 0 0 $fem-offset-100
        var(--fem-color-border-button-primary-focus);
    }

    &:is(:hover, :focus) {
      filter: drop-shadow(
        0px $fem-offset-1200 $fem-offset-2200 rgba(61, 108, 236, 0.15)
      );
      background: linear-gradient(
        180deg,
        var(--fem-color-background-button-primary-active-01) 0%,
        var(--fem-color-background-button-primary-active-02) 0.01%,
        var(--fem-color-background-button-primary-active-03) 100%
      );
    }
  }
}
